.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-top: clamp(200px, 35vh, 350px);
  margin-bottom: clamp(200px, 35vh, 350px);
  /* overflow: hidden; */
}

.imageRect {
  box-sizing: border-box;
  position: absolute;
  width: clamp(320px, 20vw, 500px);
  height: clamp(320px, 20vw, 500px);
  background-image: url(/images/imgRectangle2.png);
  background-size: cover;
  background-position: center;
  /* background-color: #000000; */
  border: 1px solid #000000;
  z-index: 3;
  /* Center the element */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(13.9% at 5% 5%);
  clip-path: circle(5% at 49% 46%);
}

.middleRect {
  position: absolute;
  width: clamp(320px, 20vw, 500px);
  height: clamp(320px, 20vw, 500px);
  background: #b3c2a4;
  border: 1px solid #000000;
  /* Center the element and add rotation */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 2;
}

.bottomRect {
  box-sizing: border-box;
  position: absolute;
  width: clamp(320px, 20vw, 800px);
  height: clamp(320px, 20vw, 800px);
  background: #829072;
  border: 1px solid #000000;
  /* Center the element and add rotation with offset */
  left: calc(50% + clamp(20px, 2vw, 40px));
  top: calc(50% + clamp(10px, 1vw, 20px));
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 1;
}

/* Responsive sizing is now handled by clamp() functions above */
